---
import Base from "../layouts/Base.astro";
import Masthead from "../components/Masthead.astro";
import Abstract from "../components/Abstract.astro";
import Methods from "../components/Methods.astro";
import Pathway from "../components/Pathway.astro";
import Appendix from "../components/Appendix.astro";
import Correspondence from "../components/Correspondence.astro";
import Colophon from "../components/Colophon.astro";
---

<Base>
  <Masthead />
  <main class="ruled">
    <Abstract />
    <Methods />
    <Pathway />
    <Appendix />
    <Correspondence />
  </main>
  <Colophon />
</Base>
